.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.navigation-example{
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .btn{
    margin: 0 0px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}


.parallax{
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}

@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
}
.sharing-area .btn-facebook{
    background-color: #3b5998;
}
.sharing-area .btn-google-plus{
    background-color: #dd4b39;
}
.sharing-area .btn-github{
    background-color: #333333;
}
.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 50px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}



.brand {
    max-width: 100%;
}

.main-raised {
    margin-top: -40vh!important;
}

.paths {
    text-align: center;
}

.paths .b {
    text-align: center;
    color: white;
}

.paths h5 {
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}

.paths img {
    width: 25px;
    max-width: 20vw;
}

.navbar-transparent .logo-container {
    display: none;
    
}

.logo-container img {
    height: 44px;
    margin-left: 8px;
}

.navbar {
    background-color: #1397D5;
}

section {
    padding-top: 75px!important;
    margin-bottom: 25px!important;
}

.card {
    padding: 9px;
    text-align: center;
}

.card-title {
    margin-bottom: 40px;
}

footer {
    border-top: 8px solid #1397D5!important;
    margin-top: 50px;
    color: white;
    background-color: #312f38;
    padding-top: 70px;
    padding-bottom: 70px;
}

.center {
    text-align: center!important;
}

.owl-item {
    padding-top: 40px;
    text-align: center;
    font-size: 26px;
    line-height: 70px;
    color: white;
    
}


.half-screen img{
    text-align: center;
    border-radius: 50%;
    margin-top: 15px;
    border: 4px solid #fff;
    text-align: center!important;
    max-width: 60px;
    max-height:60px;
    display: inline-block!important;
}

.owl-thumb-item img{
    border-radius: 50%;
    margin-top: 15px;
    border: 3px solid #fff;
    text-align: center!important;
    max-width: 60px;
    max-height:60px;
}

.owl-thumb-item h1{
    font-size: 11px;
    color: white;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.owl {
    height: 600px!important;
    background: #663fb5 url("../img/team-1.png") no-repeat center top;
    background-size: cover;
}

.none {
    display: none
}

.img-raised {
    margin-bottom: 30px;
}

iframe {
    width: 100%;
}

.bump {
    margin-top: 35px;
}

.quote {
    color: black;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.quote img{
    text-align: center;
    width: auto!important;
    height: 60px!important;
}



.sunk {
    background-color: #312f38;
}

.card-text {
    font-size: 18px;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.card-signup {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left!important;
    padding-left: 15px;
    padding-right: 15px;
}

.reasons {
    font-size: 18px;
}

h3 {
    font-weight: 200;
}

b {
    font-size: 18px;
}

.section-signup {
    background-color: #1397D5;
}

.slide .item {
    padding-bottom: 10px;
    height: 325px;
}

.client-types li {
    padding-left: 60px;
    font-size: 18px;
}

@media only screen and (max-width: 990px) {
    .index-page .wrapper > .header {
      height: 700px!important;
    }
    .index-page .brand {
      margin-top: 250px!important;
      color: #FFFFFF;
      text-align: center;
    }
    .main-raised {
        margin-top: -300px!important;
    }
    .owl {
        height: 700px!important;
    }
    .owl-thumb-item img{
        margin-top: 5px!important;
        border: 2px solid #fff;
        text-align: center!important;
        max-width: 40px;
        max-height:40px;
    }
    .client-types li {
        padding-left: 0px!important;
    }

}

.lead {
    font-weight: 100!important;
    font-size: 18px!important;
    color: #424753!important;
}

p {
    margin-top: 20px!important;
}

.testimonials {
    font-weight: 100!important;
}